Repository heidal/apollo, pull requests merged in 2020-03, with the labels that each got.

#13 Circleci project setup
  .circleci/config.yml
  backend/apollo/users/apps.py
  backend/apollo/users/serializers.py
  backend/apollo/users/urls.py
  backend/config/settings/base.py
  backend/config/urls.py
  backend/manage.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/setup.cfg
  docker-compose-ci.yml
  docker-compose.yml
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/yarn.lock
Labels: backend, infra, ready to merge

#14 add vue frontend and implement logging in/out and registration flow
  backend/apollo/users/views.py
  backend/config/settings/base.py
  backend/config/settings/local.py
  backend/config/urls.py
  backend/poetry.lock
  backend/pyproject.toml
  docker-compose.yml
  docker/local/frontend/Dockerfile
  frontend/.browserslistrc
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/README.md
  frontend/babel.config.js
  frontend/cypress.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/App.vue
  frontend/src/assets/logo.png
  frontend/src/components/HelloWorld.vue
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/main.ts
  frontend/src/react-app-env.d.ts
  frontend/src/router/index.ts
  frontend/src/serviceWorker.ts
  frontend/src/setupTests.ts
  frontend/src/shims-tsx.d.ts
  frontend/src/shims-vue.d.ts
  frontend/src/views/Home.vue
  frontend/src/views/Login.vue
  frontend/src/views/Logout.vue
  frontend/src/views/Signup.vue
  frontend/src/views/Users.vue
  frontend/tests/e2e/.eslintrc.js
  frontend/tests/e2e/plugins/index.js
  frontend/tests/e2e/specs/test.js
  frontend/tests/e2e/support/commands.js
  frontend/tests/e2e/support/index.js
  frontend/tests/unit/example.spec.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: backend, frontend

#16 remove social, add rest_auth, fix permissions
  backend/apollo/users/serializers.py
  backend/apollo/users/urls.py
  backend/apollo/users/views.py
  backend/config/settings/base.py
  backend/config/urls.py
  backend/poetry.lock
Labels: ready to merge

#15 Add elections model and API
  backend/__init__.py
  backend/apollo/elections/__init__.py
  backend/apollo/elections/admin.py
  backend/apollo/elections/apps.py
  backend/apollo/elections/migrations/0001_initial.py
  backend/apollo/elections/migrations/__init__.py
  backend/apollo/elections/models.py
  backend/apollo/elections/serializers.py
  backend/apollo/elections/tests.py
  backend/apollo/elections/urls.py
  backend/apollo/elections/views.py
  backend/apollo/users/urls.py
  backend/config/settings/base.py
  backend/config/urls.py
  backend/pytest.ini
Labels: ready to merge
