Repository heidal/apollo, pull requests merged in 2020-05, with the labels that each got.

#24 Elections flow
  README.md
  backend/apollo/elections/migrations/0005_election_state.py
  backend/apollo/elections/models.py
  backend/apollo/elections/models/__init__.py
  backend/apollo/elections/models/answer.py
  backend/apollo/elections/models/election.py
  backend/apollo/elections/models/question.py
  backend/apollo/elections/models/vote.py
  backend/apollo/elections/permissions.py
  backend/apollo/elections/serializers.py
  backend/apollo/elections/views.py
  backend/factories/elections.py
  backend/mypy.ini
  backend/poetry.lock
  backend/poetry_to_pip.sh
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/requirements.txt
  backend/tests/conftest.py
  backend/tests/elections/test_elections.py
  backend/tests/elections/test_questions.py
  docker/local/backend/Dockerfile
  frontend/src/components/ElectionsList.vue
  frontend/src/views/VotePage.vue
Labels: backend, frontend, ready for review, wip

#29 Add election results page
  frontend/src/api/elections.ts
  frontend/src/router/index.ts
  frontend/src/views/ElectionDetailPage.vue
  frontend/src/views/ElectionResults.vue
Labels: frontend, ready to merge

#28 Add apollo crypto
  .github/workflows/dockerpublish.yml
  README.md
  apollo-crypto/.gitignore
  apollo-crypto/Cargo.toml
  apollo-crypto/LICENSE
  apollo-crypto/apollo-crypto-core/Cargo.toml
  apollo-crypto/apollo-crypto-core/src/lib.rs
  apollo-crypto/apollo-crypto-python/.gitignore
  apollo-crypto/apollo-crypto-python/Cargo.toml
  apollo-crypto/apollo-crypto-python/LICENSE
  apollo-crypto/apollo-crypto-python/README.md
  apollo-crypto/apollo-crypto-python/apollo_crypto/.gitignore
  apollo-crypto/apollo-crypto-python/apollo_crypto/__init__.py
  apollo-crypto/apollo-crypto-python/pyproject.toml
  apollo-crypto/apollo-crypto-python/src/lib.rs
  apollo-crypto/apollo-crypto-wasm/.gitignore
  apollo-crypto/apollo-crypto-wasm/Cargo.toml
  apollo-crypto/apollo-crypto-wasm/LICENSE
  apollo-crypto/apollo-crypto-wasm/README.md
  apollo-crypto/apollo-crypto-wasm/src/lib.rs
  apollo-crypto/apollo-crypto-wasm/src/utils.rs
  apollo-crypto/apollo-crypto-wasm/www/.gitignore
  apollo-crypto/apollo-crypto-wasm/www/bootstrap.js
  apollo-crypto/apollo-crypto-wasm/www/index.html
  apollo-crypto/apollo-crypto-wasm/www/index.js
  apollo-crypto/apollo-crypto-wasm/www/package-lock.json
  apollo-crypto/apollo-crypto-wasm/www/package.json
  apollo-crypto/apollo-crypto-wasm/www/webpack.config.js
  backend/apollo/elections/migrations/0007_election_keys.py
  backend/apollo/elections/models/election.py
  backend/apollo/elections/serializers.py
  backend/apollo/elections/views.py
  backend/poetry.lock
  docker-compose-ci.yml
  docker-compose.yml
  docker/local/backend/Dockerfile
  docker/local/base/Dockerfile
  docker/local/frontend/Dockerfile
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/app.ts
  frontend/src/main.ts
  frontend/src/views/LandingPage.vue
  frontend/yarn.lock
Labels: backend, frontend, infra, ready to merge

#34 Use NaCl crypto
  apollo-crypto/.gitignore
  apollo-crypto/Cargo.toml
  apollo-crypto/LICENSE
  apollo-crypto/apollo-crypto-core/Cargo.toml
  apollo-crypto/apollo-crypto-core/src/lib.rs
  apollo-crypto/apollo-crypto-python/.gitignore
  apollo-crypto/apollo-crypto-python/Cargo.toml
  apollo-crypto/apollo-crypto-python/LICENSE
  apollo-crypto/apollo-crypto-python/README.md
  apollo-crypto/apollo-crypto-python/apollo_crypto/.gitignore
  apollo-crypto/apollo-crypto-python/apollo_crypto/__init__.py
  apollo-crypto/apollo-crypto-python/pyproject.toml
  apollo-crypto/apollo-crypto-python/src/lib.rs
  apollo-crypto/apollo-crypto-wasm/.gitignore
  apollo-crypto/apollo-crypto-wasm/Cargo.toml
  apollo-crypto/apollo-crypto-wasm/LICENSE
  apollo-crypto/apollo-crypto-wasm/README.md
  apollo-crypto/apollo-crypto-wasm/src/lib.rs
  apollo-crypto/apollo-crypto-wasm/src/utils.rs
  apollo-crypto/apollo-crypto-wasm/www/.gitignore
  apollo-crypto/apollo-crypto-wasm/www/bootstrap.js
  apollo-crypto/apollo-crypto-wasm/www/index.html
  apollo-crypto/apollo-crypto-wasm/www/index.js
  apollo-crypto/apollo-crypto-wasm/www/package-lock.json
  apollo-crypto/apollo-crypto-wasm/www/package.json
  apollo-crypto/apollo-crypto-wasm/www/webpack.config.js
  backend/apollo/elections/models/election.py
  backend/apollo/elections/views.py
  backend/poetry.lock
  backend/pyproject.toml
  docker/local/backend/Dockerfile
  docker/local/base/Dockerfile
  docker/local/frontend/Dockerfile
  frontend/package.json
  frontend/src/app.ts
  frontend/yarn.lock
Labels: backend, crypto, frontend, ready to merge

#35 apply eslint + prettier, redirect http to https, add new logo
  frontend/.eslintrc.js
  frontend/package.json
  frontend/public/favicon.ico
  frontend/src/App.vue
  frontend/src/api/elections.ts
  frontend/src/app.ts
  frontend/src/assets/logo.svg
  frontend/src/components/ElectionDetail.vue
  frontend/src/components/ElectionVoteForm.vue
  frontend/src/components/ElectionsList.vue
  frontend/src/components/NavBar.vue
  frontend/src/custom.scss
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/server/index.js
  frontend/src/views/ElectionCreationPage.vue
  frontend/src/views/ElectionDetailPage.vue
  frontend/src/views/ElectionResults.vue
  frontend/src/views/ElectionsPage.vue
  frontend/src/views/LandingPage.vue
  frontend/src/views/Login.vue
  frontend/src/views/Logout.vue
  frontend/src/views/Signup.vue
  frontend/src/views/VotePage.vue
  frontend/yarn.lock
  k8s/base/01_middleware.yaml
  k8s/base/03_deployments.yaml
  k8s/base/04_ingress_routes.yaml
Labels: ready to merge

#36 use email instead of username, add authentication guards
  backend/apollo/elections/views.py
  backend/apollo/users/models.py
  backend/config/settings/base.py
  backend/tests/elections/test_elections.py
  frontend/src/api/elections.ts
  frontend/src/app.ts
  frontend/src/components/ElectionsList.vue
  frontend/src/router/index.ts
  frontend/src/store/index.ts
  frontend/src/views/Login.vue
  frontend/src/views/Signup.vue
Labels: ready to merge

#38 enforce voters authorization rules in elections
  backend/apollo/common/serializers.py
  backend/apollo/elections/permissions.py
  backend/apollo/elections/serializers.py
  backend/factories/elections.py
  backend/run_all_tests.sh
  backend/tests/conftest.py
  backend/tests/elections/test_votes.py
  frontend/src/api/elections.ts
  frontend/src/components/ElectionDetail.vue
  frontend/src/components/ElectionVoteForm.vue
  frontend/src/views/VotePage.vue
Labels: backend, frontend, ready to merge

#40 add production image for web
  .github/workflows/dockerpublish.yml
  docker/production/frontend/Dockerfile
  frontend/.dockerignore
  frontend/.eslintrc.js
  frontend/src/api/elections.ts
  frontend/src/app.ts
  frontend/src/components/ElectionDetail.vue
  frontend/src/components/ElectionVoteForm.vue
  frontend/src/components/ElectionsList.vue
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/server/index.js
  frontend/src/store/index.ts
  frontend/src/views/ElectionCreationPage.vue
  frontend/src/views/Login.vue
  frontend/src/views/VotePage.vue
  frontend/vue.config.js
  nginx/nginx.conf
Labels: frontend, infra, ready to merge

#44 Store encrypted votes, decrypt on election close
  backend/apollo/elections/migrations/0009_store_encrypted_vote.py
  backend/apollo/elections/models/election.py
  backend/apollo/elections/models/vote.py
  backend/apollo/elections/serializers.py
  backend/factories/elections.py
  backend/tests/elections/test_votes.py
  frontend/src/views/VotePage.vue
Labels: backend, crypto, frontend, ready to merge

#43 add election visibility rules, discard regex authorization rule
  .github/workflows/dockerpublish.yml
  README.md
  backend/apollo/elections/migrations/0010_election_visibility.py
  backend/apollo/elections/models/__init__.py
  backend/apollo/elections/models/election.py
  backend/apollo/elections/permissions.py
  backend/apollo/elections/serializers.py
  backend/apollo/elections/urls.py
  backend/apollo/elections/views.py
  backend/apollo/users/models.py
  backend/config/settings/base.py
  backend/factories/elections.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/pytest.ini
  backend/run_all_tests.sh
  backend/tests/conftest.py
  backend/tests/elections/conftest.py
  backend/tests/elections/test_elections.py
  backend/tests/elections/test_questions.py
  backend/tests/elections/test_voter_rules.py
  backend/tests/elections/test_votes.py
  backend/tests/elections/utils.py
  docker/local/backend/Dockerfile
  frontend/src/assets/logo.png
  frontend/src/components/ElectionForm.vue
  frontend/src/views/ElectionCreationPage.vue
  frontend/src/views/ElectionEditionPage.vue
Labels: backend, frontend, ready for review

#45 change back backend FROM image
  docker/local/backend/Dockerfile
Labels: quickfix
